.header-wrapper h1{
    display: flex;
    color: whitesmoke;
    width: fit-content;
    font-family: 'Arvo';
    margin-left: 15px;
    padding-top: 10px;
}
.header-wrapper{
    background: navy;
}
.header-link{
    color: black;
    text-decoration: none;
}
.about-headerwrap{
    margin-bottom: 20px;
}
.about-link .about-h4 {
    color: yellow;
    font-family: 'Arvo';
    font-style: bold;
    font-size: 16px;
    width:fit-content;
    margin-left: auto;
    margin-right: 10px;
}
