.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.carousel {
  position: relative;
  width: 80%;
  margin: auto;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px; /* Add margin to create space between carousel and heading */
}



.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

h1 {
  font-family: 'Arvo';
  font-weight: 700;
  color: #ed786a;
  text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
  font-size: 3em;
  margin-bottom: 20px; 
}

.button-container {
  text-align: center;


}

.get-started-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.get-started-button:hover {
  background-color: #45a049;
}
